<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name ="SLXConnection" connectionString ="Provider=SLXOLEDB.1;Password=;Persist Security Info=True;User ID=admin;Initial Catalog=LIVEEAB_SLX;Data Source=SLX754Latest;Extended Properties=&quot;PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;&quot;"/>
  </connectionStrings>
</configuration>