[
'<div>',
	'<div data-dojo-type="dijit.Dialog"  class="OverrideDialogOverflowToHidden" data-dojo-attach-point="_dialog" style="overflow:auto;">',
        '<div data-dojo-type="dijit.form.Form" data-dojo-attach-point="addEditRelationshipsForm">',
            '<div class="mainContentContent DialogMainForm">',
            '<div style="padding-left:40px;">',
                '<table class="">',
                    '<tr data-dojo-attach-point="">',
				        '<td class="">',
						    '<div style="padding-bottom:10px;">',
                                '<label for="joinType" data-dojo-attach-point="parent">Parent Entity and Join Field</label><br />',
                                 '<div style="padding-bottom:4px;" data-dojo-attach-point="typeParentTable"></div>',
                                 '<select required style="width:100%; height:240px;" data-dojo-type="dijit/form/MultiSelect" data-dojo-attach-point="parentProperties"></select>',
						    '</div>',
                            '<div data-dojo-attach-point="divValidationMessage" style="color:red;">',
              '</div>',
				        '</td>',
                        '<td class="">',
						    '<div style="padding:20px;">',
                                '<label data-dojo-attach-point="cardinality">Cardinality:</label><br />',
                                 '<div data-dojo-attach-point="dpCardinality"></div>',
						    '</div>',
				        '</td>',
                        '<td class="">',
						    '<div style="padding-bottom:10px;">',
                                 '<label for="joinType" data-dojo-attach-point="child">Child Entity and Join Field</label><br />',
                                 '<div style="padding-bottom:4px" data-dojo-attach-point="typeChildTable"></div>',
                                 '<select required style="width:100%; height:240px;" data-dojo-type="dijit/form/MultiSelect" data-dojo-attach-point="childProperties"></select>',
						    '</div>',
                            '<div data-dojo-attach-point="divValidationMessageChild" style="color:red;">',
              '</div>',
				        '</td>',
			        '</tr>',
                '</table>',
            '</div>',
    '<div>',
                '<div class="lookupButtonWrapper">',                    
                    '<span data-dojo-type="dijit.form.Button" data-dojo-attach-point="cmdSave" data-dojo-attach-event="onClick:_cmdSave_OnClick"></span>',
                    '<span data-dojo-type="dijit.form.Button" data-dojo-attach-point="cmdCancel" data-dojo-attach-event="onClick:_cmdCancel_OnClick"></span>',
                '</div>',
            '</div>',
            '</div>',
            
        '</div>',
	'</div>',
'</div>'
 ]