[
'<div>',
    '<table class="detailTableContainer  formtable HundredPercentWidth">',
        '<tr data-dojo-attach-point="_filterDetailsSection">',
            '<td  class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                        '<label style="line-height:32px !important;" data-dojo-attach-point="lblEntityFiltersDetailsAggregation">',
                    '</label>',
			    '</div>',
                '<div class="fld  dijitInline" data-dojo-attach-point="dpEntityFiltersDetailsAggregation"></div>',
            '</td>',
        '</tr>',
    '</table>',
'</div>'
]