<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="sage.platform.configuration.default-configuration-source" value="Sage.Platform.Scheduling.ConfigurationSource, Sage.Platform" />
  <add key="nhibernate-logger" value="Sage.Platform.Log4NetLoggerFactory, Sage.Platform" />
  <add key="sage.platform.application.caching.cacheProvider" value="Sage.Platform.Caches.Memcached.CacheProvider, Sage.Platform.Caches.Memcached" />
  <!--
    Determines whether or not the ReportCache folder (e.g. storeFolderName) can be purged by the portal when the ReportCache is initialized[1].
    Purging removes invalid Crystal Reports documents and metadata from the ReportCache (i.e. reports that do not have an identical Plugin.Id in the database).
    The default value is "true" if this setting is undefined or empty.
    [1] Note: The ReportCache is initialized once during the lifetime of an application pool instance.
  -->
  <add key="saleslogix.reporting.reportCache.canPurge" value="true"/>
  <!--
    Defines the maximum number of retries the ReportCache will attempt file operations (e.g. create, copy, delete, etc.) if there is a failure.
    The default value is "5" if this setting is undefined or empty. Valid values are 0 to 10.
  -->
  <add key="saleslogix.reporting.reportCache.maxFileRetryCount" value="5"/>
  <!--
    Defines the maximum number of milliseconds between reattempted file operations (e.g. create, copy, delete, etc.) if there is a failure.
    The default value is "750" (i.e. 3/4 second) if this setting is undefined or empty. Valid values are 0 to 2000 (i.e. 2 seconds).
  -->
  <add key="saleslogix.reporting.reportCache.maxFileRetryWait" value="750"/>
  <!--
    Defines the fully qualified path where Crystal Reports documents and report metadata are stored for the ReportCache.
    The default value is one of the following if this setting is undefined or empty; it will be suffixed by \ReportCache\%SystemInfo.SiteCode%:
      A. The PathManager CachePath (e.g. %ALLUSERSPROFILE%\Application Data\SalesLogix\Cache).
      B. The %TEMP% folder if the PathManager CachePath cannot be created.
    Important: The application pool or service account user must have full control of this location.
  -->
  <add key="saleslogix.reporting.reportCache.storeFolderName" value=""/>
</appSettings>