<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="scheduling" type="Sage.Scheduling.Configuration.SchedulingSection, Sage.Scheduling" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="OrmConfiguration" type="Sage.Platform.Extensibility.OrmConfiguration, Sage.Platform" />
    <sectionGroup name="sage.platform">
      <section name="Sage.Platform.Caches.Memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <appSettings configSource="appSettings.config" />
  <scheduling configSource="scheduling.config" />
  <log4net configSource="log4net.config" />
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="Quartz" publicKeyToken="f6b8c98a402cc8a4" />
			<bindingRedirect oldVersion="0.0.0.0-2.4.1.0" newVersion="2.4.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Saleslogix.SData.Client" publicKeyToken="ca62383dd1d25f65" />
			<bindingRedirect oldVersion="2.0.0.0-2.0.1.1554" newVersion="2.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
			<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" />
			<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
			<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="6.0.0.0" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="1.5.0.0" newVersion="2.2.28.0" />
		</dependentAssembly>
	</assemblyBinding>
  </runtime>
  <OrmConfiguration>
    <extensions>
      <extension guid="{BD282510-B0DD-4b66-8654-8723A4B9F651}" name="Server Objects Package" typeName="Sage.Platform.Orm.CodeGen.SalesLogixCodeGeneration, Sage.Platform.Orm.CodeGen" />
      <extension guid="{3BD6A6DE-09A6-42f8-A247-F5537ED607E4}" name="High-Level Types Package" typeName="Sage.SalesLogix.HighLevelTypes.SlxHighLevelTypes, Sage.SalesLogix.HighLevelTypes" />
    </extensions>
  </OrmConfiguration>
  <sage.platform>
    <Sage.Platform.Caches.Memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool connectionTimeout="00:00:02" deadTimeout="00:00:10" />
      <performanceMonitor factory="Enyim.Caching.Memcached.DefaultPerformanceMonitorFactory, Enyim.Caching" name="SlxJobService" />
    </Sage.Platform.Caches.Memcached>
  </sage.platform>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1210">
        <arg key="configType" value="EXTERNAL" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>