<div>
    <div data-dojo-type="dijit.Dialog" title="{%= $.dlgBulkActionUpdate_Title %}" data-dojo-attach-point="_dialog" class="bulkUpdateWidgetDialog-outer-width" data-dojo-attach-event="onCancel:_btnCancel_OnClick">
        <div data-dojo-type="dijit.form.Form">
            <div style="overflow:auto">
                <label class="wizardHeaderText">{%= Sage.Utility.htmlEncode($.header_Caption) %}</label>
            </div>
            <div data-dojo-attach-point="divLoadingMessage">
                <br />
                <label style="padding-left:100px;font-size:16px;font-weight:bold"> {%= Sage.Utility.htmlEncode($.pageLoading_Caption) %}</label>
            </div>
            <div data-dojo-attach-point="propertyRowContainer" data-dojo-type="dijit.layout.ContentPane"></div>
<!--            <input data-dojo-type="dijit.form.CheckBox" data-dojo-attach-point="chkScheduleJob" data-dojo-attach-event="onChange:_chkScheduleJob_OnChange" />
            <label>{%= $.chkScheduleJob_Caption %}</label>-->
            <div data-dojo-type="dijit.layout.ContentPane" data-dojo-attach-point="jobScheduler_Container" style="padding-left:50px"></div>
            <div data-dojo-attach-point="divValidationMessage" style="color:red">
                <span data-dojo-attach-point="spanValidationMessage">&nbsp;</span>
            </div>
            <div align="right" style="margin-top:10px">
                <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="btnNext" data-dojo-attach-event="onClick:_btnOk_OnClick">{%= Sage.Utility.htmlEncode($.btnOK_Caption) %}</div>
                <div data-dojo-type="dijit.form.Button" data-dojo-attach-point="btnCancel" data-dojo-attach-event="onClick:_btnCancel_OnClick" style="margin-left:5px;">{%= Sage.Utility.htmlEncode($.btnCancel_Caption) %}</div>
            </div>
        </div>
    </div>
</div>