<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TAC_Sage500_SLX_PRICING.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TAC_Sage500_SLX_PRICING.My.MySettings>
            <setting name="Sage500Connection" serializeAs="String">
                <value>Provider=SQLNCLI10.1;Integrated Security="";Password=lambarena;Persist Security Info=True;User ID=sa;Initial Catalog=mas500_slx_app;Data Source=APOLLO;Initial File Name="";Server SPN=""</value>
            </setting>
            <setting name="SLXConnection" serializeAs="String">
                <value>Provider=SLXOLEDB.1;Password="";Persist Security Info=True;User ID=admin;Initial Catalog=SLX_TESTPREGOLIVE;Data Source=ATHENA;Extended Properties="PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;AUTOINCBATCHSIZE=1;SVRCERT=;"</value>
            </setting>
            <setting name="SLXNativeConnection" serializeAs="String">
                <value>Provider=SQLNCLI10.1;Password=lambarena;Persist Security Info=True;User ID=SA;Initial Catalog=SLX_TESTPREGOLIVE;Data Source=APOLLO;Initial File Name="";Server SPN=""</value>
            </setting>
        </TAC_Sage500_SLX_PRICING.My.MySettings>
    </userSettings>
</configuration>
