[
'<div class="HundredPercentHeight HundredPercentWidth">',
'    <div data-dojo-type="dijit.layout.TabContainer" id="tabContainer" class="HundredPercentHeight HundredPercentWidth">',
'        <div data-dojo-type="dijit.layout.ContentPane" id="propertyDetailGridPane" class="HundredPercentHeight HundredPercentWidth">',
'        </div>',
'        <div data-dojo-type="dijit.layout.ContentPane" id="filterDetailGridPane" class="HundredPercentHeight HundredPercentWidth">',
'        </div>',
'        <div data-dojo-type="dijit.layout.ContentPane" id="metricDetailGridPane" class="HundredPercentHeight HundredPercentWidth">',
'        </div>',
'        <div data-dojo-type="dijit.layout.ContentPane" id="relationDetailGridPane" class="HundredPercentHeight HundredPercentWidth">',
'        </div>',
'    </div>',
'</div>'
]