<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
         <sectionGroup name = "userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
             <section name = "EAB_NET_CRMForms.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
         </sectionGroup>
     </configSections>
     <system.diagnostics>
         <sources>
                         <!-- This section defines the logging configuration for My.Application.Log -->
             <source name = "DefaultSource" switchName="DefaultSwitch">
                 <listeners>
                     <add name = "FileLog" />
             <!-- Uncomment the below section to write to the Application Event Log -->
                                 <!--<add name="EventLog"/>-->
                 </listeners>
             </source>
         </sources>
         <switches>
             <add name = "DefaultSwitch" value="Information"/>
         </switches>
         <sharedListeners>
             <add name = "FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
             <!-- Uncomment the below section And replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
             <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
         </sharedListeners>
     </system.diagnostics>
 <startup><supportedRuntime version = "v4.0" sku=".NETFramework,Version=v4.5.2"/></startup><userSettings>
         <EAB_NET_CRMForms.My.MySettings>
             <setting name = "SLXConnectionString" serializeAs="String">
                <value>Provider=SLXOLEDB.1;Password=nt;Persist Security Info=True;User ID=nettest;Initial Catalog=SLXREMOTE;Data Source=DESKTOP-B36TG73;Extended Properties="PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;AUTOINCBATCHSIZE=1;SVRCERT=;"
</value>
                        </setting>
          </EAB_NET_CRMForms.My.MySettings>
      </userSettings>
  </configuration>
