<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TAC_Sage500_SLX_ProductCatalogRefresh.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TAC_Sage500_SLX_ProductCatalogRefresh.My.MySettings>
            <setting name="SLXNativeConstr" serializeAs="String">
                <value>Provider=SQLNCLI10.1;Password=lambarena;Persist Security Info=True;User ID=SA;Initial Catalog=SLX_TESTPREGOLIVE;Data Source=APOLLO;Initial File Name="";Server SPN=""</value>
            </setting>
            <setting name="Sage500Constr" serializeAs="String">
                <value>Provider=SQLNCLI10.1;Password=lambarena;Persist Security Info=True;User ID=sa;Initial Catalog=mas500_slx_app;Data Source=APOLLO;Initial File Name="";Server SPN=""</value>
            </setting>
            <setting name="SLXConstr" serializeAs="String">
                <value>Provider=SLXOLEDB.1;Password="";Persist Security Info=True;User ID=admin;Initial Catalog=SLX_TESTPREGOLIVE;Data Source=ATHENA;Extended Properties="PORT=1706;LOG=ON;CASEINSENSITIVEFIND=ON;AUTOINCBATCHSIZE=1;SVRCERT=;"</value>
            </setting>
            <setting name="smtpUser" serializeAs="String">
                <value>donotreply.eabnotifications@gmail.com</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="smtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="smtpPassword" serializeAs="String">
                <value>Icecream1!</value>
            </setting>
            <setting name="SendtoEmails" serializeAs="String">
                <value>ssommerfeldt@theanswerco.com</value>
            </setting>
            <setting name="SourceQuery" serializeAs="String">
                <value>SELECT vdvStockStatus.ShortDesc AS NAME
	,timItemDescription.LongDesc AS DESCRIPTION
	,vdvStockStatus.ItemID AS ACTUALID
	,timItemClass.ItemClassName AS FAMILY
	,CONVERT(decimal(15,5),timItem.StdPrice) AS PRICE
	,tmpItemType.LocalText AS PRODUCTGROUP
	,CONVERT(VARCHAR(255), tmpItemStatus.LocalText) AS STATUS
	,vdvStockStatus.UnitMeasID AS UNIT
	,NULL AS STOCKVOLUME
	,NULL AS STOCKWEIGHT
	,NULL AS STOCKITEM
	,NULL AS PROGRAM
	,NULL AS SUPPLIER
	,NULL AS VENDOR
	,NULL AS SITEID
	,NULL AS WAREHOUSELOCATION
	,NULL AS COMMISSIONABLE
	,NULL AS TAXABLE
	,NULL AS ACCOUNTINGPERIOD
	,tglAccount.GLAcctNo AS GLACCOUNTNUMBER
	,NULL AS GLSUBACCOUNTNUMBER
	,NULL AS DATAOWNER
	,NULL AS TYPE
	,NULL AS FIXEDCOST
	,NULL AS GLOBALSYNCID
	,NULL AS APPID
	,NULL AS TICK
	,NULL AS COMMODITYGROUPID
	,NULL AS ACTIVEFLAG
	,'T' AS SELLINGALLOWEDFLAG
	,vdvStockStatus.StockUnitMeasKey AS UNITOFMEASUREID
	,NULL AS SELLINGUOMID
	,NULL AS SELLINGUOMNUMBER
	,NULL AS CLASSIFICATION
	,NULL AS COMMODITYTYPE
	,vdvStockStatus.ItemKey AS MASITEMKEY
	,timItemUnitOfMeas.UPC
	,vdvStockStatus.ItemID AS MASITEMID
	,vdvStockStatus.WhseID AS WAREHOUSEID
	,vdvStockStatus.CompanyID
	,CONVERT(decimal(16,8),vdvStockStatus.QtyOnHand) as QtyOnHand
	,CONVERT(decimal(16,8),vdvStockStatus.QtyAvailable) as QtyAvailable
	,CONVERT(decimal(16,8),vdvStockStatus.SurplusQty) as SurplusQty
	,CONVERT(decimal(16,8),vdvStockStatus.QtyOnHold) as QtyOnHold
	,CONVERT(decimal(16,8),vdvStockStatus.MaxStockLevel) as MaxStockLevel
	,timItem.ProdPriceGroupKey
FROM         tglAccount LEFT OUTER JOIN
                      timInventory ON tglAccount.GLAcctKey = timInventory.InvtAcctKey RIGHT OUTER JOIN
                      vdvStockStatus INNER JOIN
                      timItem ON vdvStockStatus.ItemKey = timItem.ItemKey ON timInventory.WhseKey = vdvStockStatus.WhseKey AND 
                      timInventory.ItemKey = vdvStockStatus.ItemKey LEFT OUTER JOIN
                      timItemUnitOfMeas ON timItem.SalesUnitMeasKey = timItemUnitOfMeas.TargetUnitMeasKey AND timItem.ItemKey = timItemUnitOfMeas.ItemKey LEFT OUTER JOIN
                          (SELECT     TableName, ColumnName, DBValue, IsDefault, IsHidden, StringNo, LocalText
                            FROM          vListValidationString AS vListValidationString_1
                            WHERE      (TableName = 'timItem') AND (ColumnName = 'Status')) AS tmpItemStatus ON timItem.Status = tmpItemStatus.DBValue LEFT OUTER JOIN
                          (SELECT     TableName, ColumnName, DBValue, IsDefault, IsHidden, StringNo, LocalText
                            FROM          vListValidationString
                            WHERE      (TableName = 'timItem') AND (ColumnName = 'ItemType')) AS tmpItemType ON timItem.ItemType = tmpItemType.DBValue LEFT OUTER JOIN
                      timItemClass ON timItem.ItemClassKey = timItemClass.ItemClassKey LEFT OUTER JOIN
                      timItemDescription ON vdvStockStatus.ItemKey = timItemDescription.ItemKey</value>
            </setting>
        </TAC_Sage500_SLX_ProductCatalogRefresh.My.MySettings>
    </userSettings>
</configuration>
