/*
Run this script on:

        SQLSERVER2008.LiveEAB_SLXPROD    -  This database will be modified

to synchronize it with:

        SQLSERVER2008.LiveEAB_slx

You are recommended to back up your database before running this script

Script created by SQL Compare version 10.0.0 from Red Gate Software Ltd at 8/30/2012 8:56:21 AM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Creating [sysdba].[vSLXSite]'
GO

CREATE VIEW [sysdba].[vSLXSite] With schemabinding
AS
SELECT     SITEID, ADDRESSID, MAINPHONE, ALTERNATEPHONE, FAX, ATTENTION, COMMENTS, SITECODE, DATAOWNER, CREATEUSER, CREATEDATE, MODIFYUSER, 
                      MODIFYDATE, SECCODEID
FROM         sysdba.SITE

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [sysdba].[vProductPriceSheet]'
GO
CREATE VIEW sysdba.vProductPriceSheet
AS
SELECT     sysdba.PRODUCT.PRODUCTID, sysdba.TIMPRICESHEET.LISTPRICE, sysdba.TIMPRICESHEET.WHSEKEY
FROM         sysdba.PRODUCT INNER JOIN
                      sysdba.TIMPRICESHEET ON sysdba.PRODUCT.MASITEMKEY = sysdba.TIMPRICESHEET.ITEMKEY
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [sysdba].[vlueProductGroup]'
GO
CREATE VIEW sysdba.vlueProductGroup
AS
SELECT     sysdba.TIMPRODCATEGORY.TIMPRODCATEGORYID AS MyID, sysdba.TIMPRODCATEGORY.COMPANYID, sysdba.TIMPRODCATEGORY.PRODCATEGORYID, 
                      ISNULL(tmpTEST.CNT, '0') AS iCount, sysdba.TIMPRODCATEGORY.PRODCATEGORYKEY
FROM         sysdba.TIMPRODCATEGORY INNER JOIN
                          (SELECT     COUNT(*) AS CNT, TIMPRODCATEGORY_1.PRODCATEGORYKEY
                            FROM          sysdba.TIMPRODCATEGORY AS TIMPRODCATEGORY_1 INNER JOIN
                                                   sysdba.TIMPRODCATITEM AS TIMPRODCATITEM_1 ON 
                                                   TIMPRODCATEGORY_1.PRODCATEGORYKEY = TIMPRODCATITEM_1.PRODCATEGORYKEY
                            GROUP BY TIMPRODCATEGORY_1.PRODCATEGORYKEY) AS tmpTEST ON sysdba.TIMPRODCATEGORY.PRODCATEGORYKEY = tmpTEST.PRODCATEGORYKEY
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [sysdba].[vluePRODUCTMSRP]'
GO
CREATE VIEW sysdba.vluePRODUCTMSRP
AS
SELECT     sysdba.PRODUCT.PRODUCTID, sysdba.TIMPRICESHEET.LISTPRICE
FROM         sysdba.PRODUCT INNER JOIN
                      sysdba.TIMPRICESHEET ON sysdba.PRODUCT.MASITEMKEY = sysdba.TIMPRICESHEET.ITEMKEY
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [sysdba].[vWarehouse]'
GO
CREATE VIEW [sysdba].[vWarehouse]
WITH SCHEMABINDING 
AS
SELECT     sysdba.PRODUCTSTATUS.PRODUCTSTATUSID, sysdba.PRODUCTSTATUS.PRODUCTID, sysdba.PRODUCTSTATUS.PRODUCTREFERENCEID, 
                      sysdba.PRODUCTSTATUS.SITEREFERENCEID AS ProductStatus_SiteReferenceID, sysdba.PRODUCTSTATUS.STATUS, sysdba.PRODUCTSTATUS.QTYONHAND, 
                      sysdba.PRODUCTSTATUS.QTYONHOLD, sysdba.PRODUCTSTATUS.QTYONSO, sysdba.PRODUCTSTATUS.QTYONPO, sysdba.PRODUCTSTATUS.QTYONWO, 
                      sysdba.PRODUCTSTATUS.QTYONTRANS, sysdba.PRODUCTSTATUS.QTYAVAIL, sysdba.PRODUCTSTATUS.QTYONBO, 
                      sysdba.PRODUCTREFERENCE.PRODUCTREFERENCEID AS ProductReference_ProductReferenceID, 
                      sysdba.PRODUCTREFERENCE.PRODUCTID AS ProductReference_ProductID, 
                      sysdba.PRODUCTREFERENCE.SYSBOIDENTITYID AS ProductReference_SysboIdentityId, 
                      sysdba.PRODUCTREFERENCE.ISMARKEDFORDELETE AS ProductReference_IsMarkedForDelete, 
                      sysdba.PRODUCTREFERENCE.ISMASTER AS ProductReference_isMaster, sysdba.PRODUCTREFERENCE.LINKDATE AS ProductReference_LinkDate, 
                      sysdba.PRODUCTREFERENCE.LINKOPTIONS AS ProductReference_LinkOptions, 
                      sysdba.PRODUCTREFERENCE.LINKSTATUSCODE AS ProductReference_LinkStatusCode, sysdba.PRODUCTREFERENCE.PRODUCTREFDISPLAYNAME, 
                      sysdba.PRODUCTREFERENCE.PRODUCTREFHINT, sysdba.PRODUCTREFERENCE.PRODUCTREFKEY, 
                      sysdba.PRODUCTREFERENCE.SYNCDATE AS ProductReference_SyncDate, 
                      sysdba.PRODUCTREFERENCE.SYNCSTATUSCODE AS ProductReference_SyncStatusCode, 
                      sysdba.PRODUCTREFERENCE.UPDATEOPTIONS AS ProductReference_UpdateOptions, sysdba.SITEREFERENCE.SITEREFERENCEID, 
                      sysdba.SITEREFERENCE.SITEID AS SiteReference_SiteID, sysdba.SITEREFERENCE.SITEREFDISPLAYNAME, sysdba.SITEREFERENCE.SITEREFHINT, 
                      sysdba.SITEREFERENCE.SITEREFKEY, sysdba.SITEREFERENCE.ISMARKEDFORDELETE, sysdba.SITEREFERENCE.ISMASTER, sysdba.SITEREFERENCE.LINKDATE, 
                      sysdba.SITEREFERENCE.LINKOPTIONS, sysdba.SITEREFERENCE.LINKSTATUSCODE, sysdba.SITEREFERENCE.SYNCDATE, 
                      sysdba.SITEREFERENCE.SYNCSTATUSCODE, sysdba.SITEREFERENCE.UPDATEOPTIONS, sysdba.SITEREFERENCE.SYSBOIDENTITYID, sysdba.SITE.SITEID, 
                      sysdba.SITE.ADDRESSID, sysdba.SITE.MAINPHONE, sysdba.SITE.ALTERNATEPHONE, sysdba.SITE.FAX, sysdba.SITE.ATTENTION, sysdba.SITE.SITECODE, 
                      sysdba.SITE.DATAOWNER, sysdba.PRODUCTSTATUS.SECCODEID, sysdba.SITE.SECCODEID AS Site_SecCodeID, sysdba.PRODUCTSTATUS.CREATEUSER, 
                      sysdba.PRODUCTSTATUS.CREATEDATE, sysdba.PRODUCTSTATUS.MODIFYUSER, sysdba.PRODUCTSTATUS.MODIFYDATE, 
                      sysdba.PRODUCT.MASITEMKEY AS ItemKey
FROM         sysdba.PRODUCTSTATUS INNER JOIN
                      sysdba.PRODUCTREFERENCE ON sysdba.PRODUCTSTATUS.PRODUCTREFERENCEID = sysdba.PRODUCTREFERENCE.PRODUCTREFERENCEID INNER JOIN
                      sysdba.SITEREFERENCE ON sysdba.PRODUCTSTATUS.SITEREFERENCEID = sysdba.SITEREFERENCE.SITEREFERENCEID INNER JOIN
                      sysdba.SITE ON sysdba.SITEREFERENCE.SITEID = sysdba.SITE.SITEID INNER JOIN
                      sysdba.PRODUCT ON sysdba.PRODUCTSTATUS.PRODUCTID = sysdba.PRODUCT.PRODUCTID

GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating extended properties'
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TIMPRODCATEGORY (sysdba)"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 245
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tmpTEST"
            Begin Extent = 
               Top = 6
               Left = 283
               Bottom = 84
               Right = 479
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'sysdba', 'VIEW', N'vlueProductGroup', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DECLARE @xp int
SELECT @xp=1
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', @xp, 'SCHEMA', N'sysdba', 'VIEW', N'vlueProductGroup', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[72] 4[3] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PRODUCT"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 373
               Right = 239
            End
            DisplayFlags = 280
            TopColumn = 20
         End
         Begin Table = "TIMPRICESHEET"
            Begin Extent = 
               Top = 131
               Left = 302
               Bottom = 428
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'sysdba', 'VIEW', N'vluePRODUCTMSRP', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DECLARE @xp int
SELECT @xp=1
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', @xp, 'SCHEMA', N'sysdba', 'VIEW', N'vluePRODUCTMSRP', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[70] 4[3] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "PRODUCT"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 373
               Right = 239
            End
            DisplayFlags = 280
            TopColumn = 20
         End
         Begin Table = "TIMPRICESHEET"
            Begin Extent = 
               Top = 131
               Left = 302
               Bottom = 428
               Right = 472
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'sysdba', 'VIEW', N'vProductPriceSheet', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DECLARE @xp int
SELECT @xp=1
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', @xp, 'SCHEMA', N'sysdba', 'VIEW', N'vProductPriceSheet', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
EXEC sp_addextendedproperty N'MS_DiagramPane1', N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SITE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 276
               Right = 209
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
', 'SCHEMA', N'sysdba', 'VIEW', N'vSLXSite', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DECLARE @xp int
SELECT @xp=1
EXEC sp_addextendedproperty N'MS_DiagramPaneCount', @xp, 'SCHEMA', N'sysdba', 'VIEW', N'vSLXSite', NULL, NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
