<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
    </switches>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="SLXMembershipProvider">
      <providers>
        <clear />
        <add name="SLXMembershipProvider" type="Sage.SalesLogix.Web.SLXMembershipProvider" applicationName="SalesLogix" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SLXRoleProvider" cacheRolesInCookie="true" cookieName=".SLXROLES" cookiePath="/" cookieRequireSSL="false">
      <providers>
        <clear />
        <add name="SLXRoleProvider" type="Sage.SalesLogix.Web.SLXRoleProvider" applicationName="SalesLogix" />
      </providers>
    </roleManager>
    <httpHandlers>
    </httpHandlers>
    <httpModules>
      <clear />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="PreFormsAuthentication" type="Sage.SalesLogix.Web.PreAuthModule, Sage.SalesLogix.Web" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PostFormsAuthentication" type="Sage.SalesLogix.Web.MixedModeSecurityModule, Sage.SalesLogix.Web" />
      <add name="AppManager" type="Sage.Platform.Application.UI.Web.AppManagerModule, Sage.Platform.Application.UI.Web" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="Profile" type="System.Web.Profile.ProfileModule" />
      <add name="SessionScopeModule" type="Sage.Platform.Framework.SessionScopeWebModule" />
    </httpModules>
    <!-- To customize the maximum request length add the maxRequestLength attribute to the httpRuntime below, the default size is 4096 -->
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="false" />
  </system.web>
  <appSettings>
    <add key="UseWindowsPrincipal" value="false" />
    <add key="RequiresPassword" value="No" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>