[
'<div>',
	'<div data-dojo-type="dijit.Dialog" class="OverrideDialogOverflowToHidden FullPageDialogue" data-dojo-attach-point="_dialog">',
        '<div data-dojo-type="dijit.form.Form" data-dojo-attach-point="addEditFiltersForm" class="FManagerDialogForm" >',
            '<div class="mainContentContent DialogMainForm">',                 
                '<div data-dojo-attach-point="_DisplayName"></div>',
                '<table data-dojo-attach-point="_DynamicSection" style="overflow-y:auto!important;" class="detailTableContainer formtable HundredPercentWidth">',
                '</table>',
                '<div data-dojo-attach-point="_DetailsSection"></div>',
            '</div>',
            '<div>',
                '<div data-dojo-attach-point="divValidationMessage" class="errorText">',
                     '<span data-dojo-attach-point="spanValidationMessage">&nbsp;</span>',
                 '</div>',
                '<div class="lookupButtonWrapper">',                    
                    '<span data-dojo-type="dijit.form.Button" data-dojo-attach-point="cmdSave" data-dojo-attach-event="onClick:_cmdSave_OnClick"></span>',
                    '<span data-dojo-type="dijit.form.Button" data-dojo-attach-point="cmdCancel" data-dojo-attach-event="onClick:_cmdCancel_OnClick"></span>',
                '</div>',
            '</div>',
        '</div>',
	'</div>',
'</div>'
 ]