[
	'<table class="detailTableContainer formtable HundredPercentWidth">',
        '<tr data-dojo-attach-point="_isNewSection">',
			'<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright"  >',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblIsNew">',
                    '</label>',
				'</div>',
				'<div class="fld dijitInline" data-dojo-attach-point="isNew"></div>',
			'</td>',
		'</tr>',
            '<tr data-dojo-attach-point="_ExistingSection">',
			'<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblExisting">',
                    '</label>',
				'</div>',
				'<div class="fld dijitInline" data-dojo-attach-point="existing"></div>',
			'</td>',
		'</tr>',
		'<tr data-dojo-attach-point="_propertySection">',
			'<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblProperty">',
                    '</label>',
				'</div>',
				'<div class="fld dijitInline" data-dojo-attach-point="property"></div>',
			'</td>',
		'</tr>',
		'<tr data-dojo-attach-point="_calculationSection">',
			'<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblCalculation">',
                    '</label>',
				'</div>',
				'<div class="fld  dijitInline" data-dojo-attach-point="calculation"></div>',
			'</td>',
		'</tr>',
		'<tr data-dojo-attach-point="_DescriptionSection">',
            '<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblDescription">',
                    '</label>',
                '</div>',
                    '<div class="fld dijitInline" data-dojo-attach-point="description"></div>',
            '</td>',
		'</tr>',
	'</table>',
 ]
