[
'<div>',
	'<div data-dojo-type="dijit.Dialog" class="OverrideDialogOverflowToHidden FullPageDialogue" data-dojo-attach-point="_dialog">',
        '<div data-dojo-type="dijit.form.Form" data-dojo-attach-point="addEditFiltersForm" class="FManagerDialogForm" >',
            '<div class="mainContentContent DialogMainForm">',
                '<div data-dojo-attach-point="_filterNameSection"></div>',
		        '<table class="detailTableContainer formtable HundredPercentWidth">',
			        '<tr data-dojo-attach-point="_TypeDropDownSection">',
				        '<td class="FManagerDialogFieldLabel">',
						    '<div style="padding:0 !important;" class="lbl alignright">',
                                '<label style="line-height:32px !important;" data-dojo-attach-point="lblTypeDp">',
                                '</label>',
						    '</div>',
					        '<div class="fld dijitInline" data-dojo-attach-point="typeDp"></div>',
				        '</td>',
			        '</tr>',
			        '<tr data-dojo-attach-point="_filterDropDownSection">',
                        '<td class="FManagerDialogFieldLabel">',
						    '<div style="padding:0 !important;" class="lbl alignright"  >',
                                '<label style="line-height:32px !important;" data-dojo-attach-point="lblFilterDp">',
                                '</label>',
                            '</div>',
                             '<div data-dojo-attach-point="fieldsContainer"></div>',
                        '</td>',
			        '</tr>',
		        '</table>',
                '<div data-dojo-attach-point="_TypeSpecificDetailsSection">',
                '</div>',
            '</div>',
            '<div>',
				'<div data-dojo-attach-point="divValidationMessage" class="errorText">',
                     '<span data-dojo-attach-point="spanValidationMessage">&nbsp;</span>',
                 '</div>',
                '<div class="lookupButtonWrapper">',                    
                    '<span data-dojo-type="dijit.form.Button" data-dojo-attach-point="cmdSave" data-dojo-attach-event="onClick:_cmdSave_OnClick"></span>',
                    '<span data-dojo-type="dijit.form.Button" data-dojo-attach-point="cmdCancel" data-dojo-attach-event="onClick:_cmdCancel_OnClick"></span>',
                '</div>',
            '</div>',
        '</div>',
	'</div>',
'</div>'
 ]