[
'<div>',    
    '<div data-dojo-attach-point="aggregate">',
    '</div>',		
    '<table class="detailTableContainer HundredPercentWidth">',
        '<tr data-dojo-attach-point="_MetricsFromSection">',
            '<td class="FManagerDialogFieldLabel">',
    		    '<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblMetricRangeFrom">',
                    '</label>',
			    '</div>',
                 '<div data-dojo-attach-point="fieldsContainerFrom"></div>',
            '</td>',
        '</tr>',
        '<tr data-dojo-attach-point="_MetricsToSection">',
            '<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblMetricRangeTo">',
                    '</label>',
			    '</div>',
                 '<div data-dojo-attach-point="fieldsContainerTo"></div>',
            '</td>',
        '</tr>',
    '</table>',
'</div>'
]
