
[
'<div>',
    '<table class="detailTableContainer formtable HundredPercentWidth">',
        '<tr data-dojo-attach-point="_DisplaySection">',
		    '<td class="FManagerDialogFieldLabel">',
			    '<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblDisplayName"/>',
				'</div>',
				'<div class="fld dijitInline" data-dojo-attach-point="displayNameTxtCntrl"></div>',
            '</td>',
	    '</tr>',
        '<tr data-dojo-attach-point="_TriggerSection">',
		    '<td class="FManagerDialogFieldLabel">',
			    '<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblTriggerName"></label>',
				'</div>',
				'<div class="fld dijitInline" data-dojo-attach-point="triggerCntrl">',
                    '<a data-dojo-attach-point="triggerCntrlLink"></a>',
                '</div>',
            '</td>',
	    '</tr>',
        '<tr data-dojo-attach-point="_LineSection">',
		    '<td class="FManagerDialogFieldLabel">',
				'<div style="padding:0 !important;" class="lbl alignright">',
                    '<label style="line-height:32px !important;" data-dojo-attach-point="lblName"/>',
				 '</div>',
			     '<div class="fld  dijitInline" data-dojo-attach-point="NameCntrl"/>',
		    '</td>',
	    '</tr>',
    '</table>',
'</div>'
]