[
'<div>',
    '<table  class="detailTableContainer HundredPercentWidth">',
        '<tr>',
            '<td class="FManagerDialogFieldLabel">',
                '<div style="padding:0 !important;" class="lbl alignright">',
                    '<label  data-dojo-attach-point="lookupGridLabel">',
                    '</label>',
                '</div>',
                 '<div class="fld  dijitInline">&nbsp</div>',
            '</td>',

       '</tr>',
        '<tr>',
            '<td class="FManagerDialogFieldLabel">',
                '<div style="padding:0 !important;" class="lbl alignright dijitInline">&nbsp</div>',
                '<div class="fld dijitInline rangegridwhole" data-dojo-attach-point="rangegridwhole"></div>',
            '</td>',
        '</tr>',
    '</table>',
'</div>'
]
